.row{
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.col{
    border: 1px solid black;
    flex-basis: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.azure{
    background-color: aqua;
    color: black;
}